.advantages {
  width: 320px;
  margin: 0 auto;
}

.advantages__header {
  padding-top: 38px;
}

.advantages__tagline {
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  margin: 0;
  padding-bottom: 28px;
}

.advantages__wrapper {
  position: relative;
  background-color: @bg-color-grey;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    min-height: 94px;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
  }

  &::after {
    position: relative;
    content: "";
    display: block;
    min-height: 285px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center 35px;
    z-index: 1;
  }
}

.advantages__list {
  width: 280px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
}

.advantages__item {
  padding-top: 20px;
}

.advantages__title {
  .tagline();
  color: black;
  text-align: center;
  margin: 0 auto;
  /*занести в миксины*/
}

.advantages__description {
  text-align: center;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .advantages {
    width: @tablet-width;
  }

  .advantages__header {
    padding: 48px 0;
  }

  .advantages__tagline {
    font-size: 40px;
    line-height: 45px;
    padding-bottom: 5px;
  }

  .advantages__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    &::after {
      width: 300px;
      height: 485px;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-position: 20px 0;
      padding-left: 20px;
    }
  }

  .advantages__list {
    width: 310px;
    margin-right: 20px;
    padding-top: 0px;
  }

  .advantages__title {
    text-align: left;
  }

  .advantages__description {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 100%;
  }

  .advantages__header {
    width: @desktop-width;
    margin: 0 auto;
    padding: 70px 0;
  }

  .advantages__tagline {
    font-size: 50px;
    line-height: 58px;
  }

  .advantages__wrapper {
    flex-direction: row;

    &::after {
      display: none;
    }
  }

  .advantages__list {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: row;
    justify-content: space-between;
  }

  .advantages__item {
    width: 300px;
    display: block;

    &::before {
      position: relative;
      display: block;
      content: "";
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      width: 190px;
      height: 300px;
      z-index: 1;
    }

    &--step1::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
    }

    &--step2::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
    }

    &--step3::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
    }
  }

  .advantages__title {
    text-align: center;
  }

  .advantages__description {
    text-align: center;
  }
}
