.advantages__intro {
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__title {
  .tagline();
  color: black;
  text-align: center;
  /*занести в миксины*/
}

.advantages__description {
  text-align: center;
}

.advantages__wrapper {
  background-color: @bg-color-grey;
}

/*.advantages__gallery {
  height: 300px;
  background-color: @bg-color-grey;
  background-image: url("..img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center, 60%;
}*/
