.application {
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-color: #2b3b4b;
  background-position: 0 176px, 50% 0%;
  background-repeat: no-repeat;
}

.application__title {
  display: none;
}

.application__download {
  background-color: @dark-blue;
  /*height: 270px;*/
}

.application__description {
  margin: 0 20px;
  color: @white;
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  text-align: center;
}

.application__list {
  list-style-type: none;
}

.application__item {

}

.application__link {
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;

  &--apple {
    background-image: url("../img/logo-apple.svg");
    background-position: 50% -50%;
  }

  &--android {
    background-image: url("../img/logo-android.svg");
    background-position: 50% 50%;
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
    background-position: 50% 60%;
  }
}
