.form {
  width: 320px;
  margin-top: 70px;
}

.form__intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #2b3b4b;
  background-repeat: no-repeat;
  background-position: 50% -68px;
}

.form__title {
  padding-top: 29px;
  padding-bottom: 54px;
  margin: 0 auto;
  width: 280px;
  font-size: 24px;
  line-height: 29px;
  font-weight: lighter;
  color: @white;
  text-align: center;
}

.form__description {
  padding-top: 46px;
  padding-bottom: 35px;
  margin: 0 auto;
  width: 280px;
  text-align: center;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__item {
  width: 280px;
  margin: 0 auto;

  &--difference {
    width: 320px;
    background-color: @bg-color-grey;
    margin-top: 25px;
  }

  &--comment {
    padding-top: 32px;
    text-align: center;
  }
}

.form__field {
  &--checkbox {
    width: 280px;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 50px;
  }

  &--tel {
    padding-top: 32px;
  }
}

.form__label {
  color: @pink;
  text-transform: uppercase;
  display: block;
  padding-left: 22px;
}

.form__input {
  width: 280px;
  margin: 0 auto;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  color: @blue;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 16px;
  outline: 0;

  &:hover {
    border: 2px solid @blue;
  }

  &:active,
  &:focus {
    border: 2px solid @pink;
  }

  &::placeholder {
    color: @blue;
  }
}

.form__tagline {
  width: 280px;
  margin: 0 auto;
  margin-top: 39px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: @pink;
}

.form__field input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  padding-left: 70px;

  &::before {
    position: absolute;
    content: "";
    top: -4px;
    left: 0;
    width: 35px;
    height: 35px;
    background: @white;
    border: 2px solid #e5e5e5;
  }

  &:hover::before {
    border: 2px solid @blue;
  }

  &:active::before {
    border: 2px solid @pink;
  }
}

input[type="checkbox"]:checked + .form__checkbox::before {
  background-image: url("../img/icon-yes.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.form__app-os {
  width: 280px;
  margin: 0 auto;
}

.form__app-os input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__radio {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  padding-left: 70px;
  margin-top: 41px;
  margin-bottom: 46px;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: @white;
    border: 2px solid #e5e5e5;
  }

  &:hover::before {
    border: 2px solid @blue;
  }

  &:active::before {
    border: 2px solid @pink;
  }
}

input[type="radio"]:checked + .form__radio::before {
  background-image: url("../img/icon-map-marker.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.form__textarea {
  width: 280px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  padding: 15px 18px 22px;
  margin-top: 10px;
  resize: none;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: @blue;
  }

  &:hover {
    border: 2px solid @blue;
    outline: none;
  }

  &:active,
  &:focus {
    border: 2px solid @pink;
    outline: none;
  }
}

.form__submit {
  width: 280px;
  margin: 0 auto;
}

.form__button {
  margin-top: 38px;
  width: 280px;
  height: 63px;
  background-color: #2aab6d;
  color: @white;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
}

.form__legend {
  margin-top: 35px;
  text-transform: uppercase;
  text-align: center;
}

.form__legend sup {
  font-weight: bold;
  color: @pink;
}
