.form {
  width: 320px;
  margin: 0 auto;
  margin-top: 0;
}

.form__intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #2b3b4b;
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.form__title {
  padding-top: 99px;
  padding-bottom: 54px;
  margin: 0 auto;
  width: 280px;
  font-size: 24px;
  line-height: 29px;
  font-weight: lighter;
  color: @white;
  text-align: center;
}

.form__description {
  padding-top: 46px;
  padding-bottom: 35px;
  margin: 0 auto;
  width: 280px;
  text-align: center;

  &--hide {
    display: none;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__item {
  width: 280px;
  margin: 0 auto;

  &--checkbox,
  &--os {
    width: 320px;
    background-color: @bg-color-grey;
    margin-top: 25px;
  }

  &--comment {
    padding-top: 32px;
    text-align: center;
  }
}

.form__field {
  &--checkbox {
    width: 280px;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 50px;
  }

  &--tel {
    padding-top: 32px;
  }
}

.form__label {
  color: @pink;
  text-transform: uppercase;
  display: block;
  padding-left: 22px;
}

.form__input {
  width: 280px;
  margin: 0 auto;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  color: @blue;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 16px;
  outline: 0;

  &:hover {
    border: 2px solid @blue;
  }

  &:active,
  &:focus {
    border: 2px solid @pink;
  }

  &::placeholder {
    color: @blue;
  }
}

.form__tagline {
  width: 280px;
  margin: 0 auto;
  margin-top: 39px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: @pink;

  &--contacts {
    display: none;
  }
}

.form__field input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  padding-left: 70px;

  &::before {
    position: absolute;
    content: "";
    top: -4px;
    left: 0;
    width: 35px;
    height: 35px;
    background: @white;
    border: 2px solid #e5e5e5;
  }

  &:hover::before {
    border: 2px solid @blue;
  }

  &:active::before {
    border: 2px solid @pink;
  }
}

input[type="checkbox"]:checked + .form__checkbox::before {
  background-image: url("../img/icon-yes-checkbox.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.form__app-os {
  width: 280px;
  margin: 0 auto;
}

.form__app-os input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__radio {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  padding-left: 70px;
  margin-top: 41px;
  margin-bottom: 46px;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: @white;
    border: 2px solid #e5e5e5;
  }

  &:hover::before {
    border: 2px solid @blue;
  }

  &:active::before {
    border: 2px solid @pink;
  }
}

input[type="radio"]:checked + .form__radio::before {
  background-image: url("../img/icon-map-marker.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.form__textarea {
  width: 280px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  padding: 15px 18px 22px;
  margin-top: 10px;
  resize: none;
  min-height: 201px;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: @blue;
  }

  &:hover {
    border: 2px solid @blue;
    outline: none;
  }

  &:active,
  &:focus {
    border: 2px solid @pink;
    outline: none;
  }
}

.form__submit {
  width: 280px;
  margin: 0 auto;
}

.form__button {
  width: 280px;
  margin-top: 38px;
}

.form__legend {
  margin-top: 35px;
  text-transform: uppercase;
  text-align: center;

  &--add-text {
    display: none;
  }
}

.form__legend sup {
  font-weight: bold;
  color: @pink;
}

@media (min-width: @tablet-width) {
  .form {
    width: @tablet-width;
    margin: 0 auto;
  }

  .form__intro {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1204px auto;
    }
  }

  .form__title {
    font-size: 50px;
    line-height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 179px;
    padding-bottom: 81px;
    width: @tablet-width;
    box-sizing: border-box;
  }

  .form__description {
    width: auto;
    font-size: 18px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 93px;
    padding-bottom: 71px;

    &--hide {
      display: inline-block;
    }
  }

  .form__item {
    width: 620px;

    &--name {
      order: 1;
      padding-bottom: 17px;
    }

    &--os {
      order: 2;
      position: relative;
      background-color: transparent;
      width: @tablet-width;
      margin-top: 0;
      margin-bottom: 65px;
    }

    &--contacts {
      order: 3;
      position: relative;
      border: 2px solid #e5e5e5;
      box-sizing: border-box;
    }

    &--checkbox {
      background-color: transparent;
      position: relative;
      order: 4;
      border: 2px solid #e5e5e5;
      box-sizing: border-box;
      margin: 0 auto;
      margin-top: 64px;
      padding-bottom: 53px;
      margin-bottom: 65px;
    }

    &--comment {
      order: 5;
      position: relative;
      box-sizing: border-box;
      border: 2px solid #e5e5e5;
      padding-top: 36px;
    }
  }

  .form__field {
    display: flex;
    align-items: baseline;
    padding-bottom: 50px;

    &--tel {
      position: relative;
      flex-direction: column-reverse;
      padding-top: 45px;
      padding-left: 56px;
      padding-bottom: 29px;
    }

    &--tel::after {
      content: url("../img/icon-phone.svg");
      position: absolute;
      display: block;
      top: 47px;
      left: 494px;
      width: 60.5px;
      height: 59.5px;
      padding-top: 19px;
      padding-left: 22px;
      box-sizing: border-box;
      background-color: #e5e5e5;
    }

    &--email {
      position: relative;
      flex-direction: column-reverse;
      padding-left: 56px;
      padding-bottom: 28px;
    }

    &--email::after {
      content: url("../img/icon-mail.svg");
      position: absolute;
      display: block;
      top: 3px;
      left: 495px;
      width: 60.5px;
      height: 59px;
      padding-top: 16px;
      padding-left: 22px;
      box-sizing: border-box;
      background-color: #e5e5e5;
    }

    &--checkbox {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      padding-left: 58px;
      padding-top: 53px;
      width: auto;
    }
  }

  .form__label {
    display: inline-block;
    padding-left: 0;
    padding-right: 18px;

    &--contacts {
      padding-top: 9px;
      padding-left: 20px;
    }
  }

  .form__input {
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0;

    &--contacts {
      width: 501px;
    }
  }

  .form__app-os {
    position: relative;
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
    padding-bottom: 71px;
  }

  .form__tagline {
    position: absolute;
    display: block;
    background-color: @white;
    z-index: 1;
    box-sizing: border-box;

    &--os {
      width: 369px;
      margin: -8px;
      left: 153px;
    }

    &--contacts {
      width: 260px;
      left: 178px;
      margin-top: -10px;
    }

    &--checkbox {
      width: 436px;
      left: 99px;
      margin: -10px;
    }

    &--comment {
      width: 260px;
      left: 178px;
      margin-top: -46px;
    }
  }

  .form__textarea {
    width: 500px;
    padding-bottom: 14px;
    margin-bottom: 40px;
    min-height: 194px;
  }

  .form__radio {
    margin-top: 57px;
    margin-bottom: -12px;
    padding-left: 97px;

    &::before {
      left: 37px;
    }
  }

  .form__checkbox {
    padding-left: 59px;
  }

  .form__submit {
    order: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 69px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .form__button {
    width: 300px;
    margin: 0;
  }

  .form__legend {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 100%;
  }

  .form__intro {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2551px auto;
      background-position: 50% -3%;
    }
  }

  .form__title {
    width: @desktop-width;
    padding-top: 172px;
    padding-bottom: 102px;
  }

  .form__description {
    width: @desktop-width;
    box-sizing: border-box;
  }

  .form__wrapper {
    width: 940px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  .form__item--os > .container {
    width: auto;
  }

  .form__item {
    width: auto;
    margin: 0;

    &--name {
      padding-top: 15px;
      width: 436px;
    }

    &--checkbox {
      width: 100%;
      margin-top: 65px;
      display: flex;
      flex-wrap: wrap;
      padding-left: 57px;
      padding-right: 8px;
      padding-bottom: 58px;
      justify-content: space-between;
    }

    &--os {
      padding-top: 8px;
      width: 436px;
    }

    &--contacts {
      width: 100%;
      display: flex;
      padding-left: 58px;
      padding-right: 58px;
      justify-content: space-between;
    }

    &--comment {
      margin-top: 65px;
      padding-top: 32px;
      width: 100%;
    }
  }

  .form__app-os {
    padding-bottom: 73px;
  }

  .form__input--contacts {
    width: 375px;
  }

  .form__tagline {
    &--checkbox {
      left: 259px;
    }

    &--contacts {
      left: 337px;
    }
    &--os {
      left: 41px;
    }

    &--comment {
      top: 36px;
      left: 337px;
    }
  }

  .form__radio {
    padding-left: 124px;

    &::before {
      left: 65px;
      top: -3px;
    }
  }

  .form__field--checkbox {
    width: 260px;
    box-sizing: border-box;
    padding-left: 0;
    padding-top: 55px;

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 4;
    }

    &:nth-child(4) {
      order: 2;
      margin-left: 20px;
    }

    &:nth-child(5) {
      order: 5;
      margin-left: 20px;
    }

    &:nth-child(6) {
      order: 3;
    }

    &:nth-child(7) {
      order: 6;
    }
  }

  .form__field {

    &--tel {
      padding-top: 42px;
      padding-left: 0;
      padding-bottom: 13px;
    }

    &--tel::after {
      top: 44px;
      left: 312px;
    }

    &--email {
      padding-top: 42px;
      padding-left: 0;
      padding-bottom: 13px;
    }

    &--email::after {
      top: 44px;
      left: 312px;
      width: 61px;
    }
  }

  .form__textarea {
    width: 820px;
    min-height: 127px;
    margin-bottom: 34px;
  }

  .form__legend--add-text {
    display: inline;
  }

  .form__submit {
    padding-top: 66px;
    padding-left: 0;
    padding-right: 0;
  }
}
