.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background-color: @blue;
}

.main-nav__toggle {
  position: absolute;
  top: -66px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 66px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: @white;
  box-shadow: 0 8px 0 0 @white, 0 16px 0 0 @white;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: @pink;
  box-shadow: 0 8px 0 0 @pink, 0 16px 0 0 @pink;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: @pink;
  box-shadow: 0 8px 0 0 @pink, 0 16px 0 0 @pink;
  opacity: 0.3;
  outline: none;
}

.main-nav--opened .main-nav__toggle {
  top: -49px;
  right: 19px;
  width: 25px;
  height: 25px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -3px;
    width: 30px;
    height: 4px;
    background-color: @white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
  background-color: @pink;
  opacity: 1;
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: @pink;
  opacity: 0.3;
  outline: none;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: @tablet-width;
  }

  .main-nav--opened .main-nav__toggle {
    top: -65px;
    right: 20px;
  }

  .main-nav__toggle {
    top: -85px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    background: transparent;
    margin: 0;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
  }

  .main-nav__list {
    width: 620px;
    display: flex;
    justify-content: space-between;
  }
}
