.page-header {
  width: 320px;
  margin: 0 auto;
  position: relative;
  margin-bottom: -70px;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

// .page-header__wrap--show {
//   background-color: @blue;
// }

.page-header__logo {
  height: 70px;
  // добавить паддинг топ линию и тогда высота 69
}

.page-header__logo-image {
  padding-left: 20px;
  padding-top: 22px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
  }

  .page-header__logo {
    height: 110px;
    // добавить бордер 1пх тогда хейт 109
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 100%;
    height: 109px;
  }

  .page-header__wrapper {
    flex-direction: row;
    width: @desktop-width;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .page-header__logo-image {
    padding-left: 0;
  }
}
