.page-header {
  width: 320px;
  margin: 0 auto;
  position: relative;
  margin-bottom: -70px;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 69px;
  border-bottom: 1px solid black;
  background-color: @blue;
}

.page-header__logo svg {
  padding-left: 20px;
  padding-top: 22px;
  max-width: 100%;
  height: auto;

  &:hover {
    path {
      fill: @pink;
    }
  }

  &:active {
    path {
      fill: @white;
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
    margin-bottom: -110px;
  }

  .page-header__logo {
    height: 109px;
  }

  .page-header__logo svg {
    width: 150px;
    height: 43px;
    padding-top: 25px;
  }
}

@media (max-width: @only-mobile-tablet) {
  .page-header__logo--back {
    background-color: transparent;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 100%;
    height: 110px;
    margin-bottom: -110px;
  }

  .page-header__wrapper {
    flex-direction: row;
    width: 940px;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .page-header__logo {
    background: transparent;
    border: 0;
  }

 .page-header__logo svg {
    padding-left: 0;
  }
}
