.post-list {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.post-list__item {
  margin-top: 20px;
}

.post-list__item--panorama {
  position: relative;

  &::before {
    content: "панорама дня";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 140px;
    height: 36px;
    padding: 6px 19px;
    box-sizing: border-box;
    background-color: @pink;
    color: @white;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
  }
}

.post-list__link {
  display: block;
  width: 280px;

  &--panorama {
    width: 100%;
  }
}

.post-list__comment {
  background-color: @bg-color-grey;
  box-sizing: border-box;
  margin-top: -7.5px;
  padding-left: 17px;

  &--panorama {
    width: 280px;
    margin: 0 auto;
    padding-left: 17px;
    margin-top: -9px;
  }
}

.post-list__author {
    font-weight: bold;
    margin: 0;
    padding-top: 14px;
}

.post-list__time {
    font-size: 12px;
    font-weight: lighter;
    text-transform: uppercase;
}

.post-list__description {
    margin-top: -5px;
    margin-bottom: 10px;
    line-height: 24px;
  }

  .post-list__like {
    position: relative;
    color: @pink;
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding-left: 32px;
    padding-bottom: 21px;

    &--icon::before {
      content: "";
      background-image: url("../img/icon-heart.svg");
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: 0;
      top: 7px;
      width: 14px;
      height: 12px;
    }
  }

.post-list__gallery {
  list-style: none;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .post-list {
    width: @tablet-width;
    margin: 0 auto;
  }

  .post-list__link {
    width: 300px;

    &--panorama {
      width: 100%;
    }
  }

  .post-list__image {
    &--panorama {
      width: 100%;
      height: 510px;
    }
  }

.post-list__comment {
    padding-left: 28px;
    padding-right: 20px;
    margin-top: -9px;
    min-height: 155px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &--panorama {
      width: 620px;
      margin-left: 20px;
      margin-right: 20px;
      padding-left: 28px;
      padding-right: 0;
      min-height: 121px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .post-list__gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
  }

  .post-list__item {
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  .post-list__item--panorama {
    width: 100%;

    &::before {
      top: 57px;
      left: 500px;
    }
  }

  .post-list__author {
    padding-top: 20px;

    &--panorama {
      order: 1;
      width: 150px;
    }
  }

  .post-list__description {
    margin-bottom: auto;
    &--panorama {
      order: 3;
      width: 100%;
      margin-bottom: 26px;
    }
  }

  .post-list__like {
  padding-bottom: 24px;
  padding-left: 0;

    &--icon::before {
      left: 227px;
      top: 6px;
    }

    &--panorama {
      order: 2;
      width: 149px;
      box-sizing: border-box;
      padding: 0;
      padding-top: 23px;
    }

    &--panorama::before {
      left: 108px;
      top: 29px;
    }
  }
}

@media (min-width: @desktop-width) {
  .post-list {
    width: 100%;
    margin: 0 auto;
  }

  .post-list__image--panorama {
    height: 506px;
  }

  .post-list__item {
    box-sizing: border-box;
    margin-bottom: 35px;

    &--panorama {
      margin-bottom: 0;
    }

    &--panorama::before {
      top: 9%;
      left: 77.5%;
    }
  }

  .post-list__comment--panorama {
    width: 940px;
    margin: 0 auto;
    margin-top: -10px;
    min-height: 96px;
  }
}
