.reviews__author-name {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.reviews__text {
  .tagline();
  color: @dark-blue;
  text-align: center;
}
