.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  height: 62px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  text-align: center;
}

.site-list__item a {
  font-size: 18px;
  line-height: 62px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;

  &:hover {
    color: @pink;
  }

  &:active {
    color: desaturate(@white, 70%);
  }

  &--active {
    text-decoration: underline;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    height: 110px;
    border-top: 0;
    border-bottom: 0;
  }

  .site-list__item a {
    line-height: 110px;
    font-weight: normal;
    text-transform: none;
  }
}
