.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

.site-list__item {
  text-align: center;
}

.site-list__item a {
  display: block;
  padding-top: 16px;
  padding-bottom: 14px;
  font-size: 18px;
  line-height: 32px;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;

  &:hover {
    color: @pink;
  }

  &:active {
    color: desaturate(@white, 70%);
  }

  &--active {
    text-decoration: underline;
  }
}

// .site-list a[href] {
//   &:hover {
//     background-color: #755a46;
//     border-top-color: #755a46;
//   }
//
//   &:active {
//     color: rgba(255, 255, 255, 0.3);
//     background-color: #6a4d38;
//     border-top-color: #6a4d38;
//   }
// }

@media (max-width: @only-mobile-tablet) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    border-top: 0;
    border-bottom: 0;
  }

  .site-list__item a {
    padding-top: 38px;
    font-weight: normal;
    text-transform: none;
    border: 0;
  }
}
